.Nametable,th,td,tr{
    margin: 10%;
    border: 2px solid black;
    border-collapse:collapse ;
}
 td{
    background-color: aqua;
    padding: 15px;
}
.Nametable{
    padding: 40px;
    width: 50%;
}
th{
    background-color: rgb(128, 90, 90);
    color: white;
    padding: 15px;
}